<%= link_to "Home page", root_path %> | 
<%= link_to "Sign up", new_user_path %> | 
<%= link_to "Login", "sessions#new" %>
<h1>Welcome to Vagabond</h1>
<p>Recommendations for your favorite cities!</p>
