<div class = "col-lg-12"><h1>Welcome to the <%= @city.name %> page!</h1></div>
<div class = "col-md-12"
<h3><%= link_to "+ New Entry", new_city_entry_path %></h3>
</div>
<div class = "col-lg-12" id = "headimg">
<%= image_tag ("#{@city.background_image}") %>
</div>

	<% @entries.each do |entry| %>
		<div class = "col-lg-8 col-lg-offset-4 col-xs-12 entry">
			<div class = "col-xs-1">
				<i class="material-icons">face</i>
			</div>
			<div class = "col-xs-11" id = "artBox"><%= link_to entry.title, "/entries/#{entry.id}" %>
			</div>
		</div>
	<% end %>