<h1>Welcome to the <%= @city.name %> page!</h1>
<strong><%= link_to "New Entry", new_city_entry_path %></strong>
<%= image_tag ("#{@city.background_image}") %>


<ul>
	<% @entries.each do |entry| %>
		<li><%= link_to entry.title, "/entries/#{entry.id}" %></li>
	<% end %>
</ul>