<div class = "col-xs-12 col-lg-10 col-lg-offset-2"><h1>Welcome to the <%= @city.name %> page!</h1>
</div>

<div class = "col-lg-8 col-lg-offset-2" id = "headimg">
<%= image_tag ("#{@city.background_image}") %>
<strong id = "addentry"><%= link_to " + Add Entry", new_city_entry_path %></strong>
</div>



<div class = "row">
	<% @entries.each do |entry| %>
		<div class = "col-lg-8 col-lg-offset-2 col-xs-12 entry">
			<div class = "col-xs-1 col-xs-offset-1">
				<i class="material-icons" id = "entryicons">record_voice_over</i>
			</div>
			<div class = "col-xs-10" id = "artBox"><%= link_to entry.title.capitalize, "/entries/#{entry.id}" %>
			</div>
		</div>
	<% end %>
</div>
